<div class="custom-bg fixed-top">
  <div class="container my-2">
    <div class="row">
      <div class="col-auto mx-auto">
        <div class="text-center">
          <div
            class="nav-bgc sticky-top d-flex justify-content-between align-items-center px-4"
          >
            <a href="/" class="h-75">
              <img
                src="/images/DataVizion-Logo2.png"
                alt="Logo de la aplicacion"
                class="nav-logo"
              />
            </a>
            <a href="#" class="nav-link" data-option="1">Homicidios</a>
            <a href="#" class="nav-link" data-option="2">OMS</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

document.addEventListener('DOMContentLoaded', function() {
 
  // Obtener el elemento del sidebar
  const sidebar = document.querySelector('.list-group');

  // Escuchar eventos de clic en los elementos del navbar
  document.querySelectorAll('.nav-link').forEach(link => {
    link.addEventListener('click', e => {
      e.preventDefault();
      // Obtener el número de opción del atributo data-option del enlace
      const option = e.target.getAttribute('data-option');
      // Limpiar el contenido del sidebar
      sidebar.innerHTML = '';
      // Agregar nuevas opciones dependiendo del número de opción seleccionado
      if (option === '1') {
        sidebar.innerHTML = `
        <a href="/showHom/<%='PromedioVictimas'%>" class="list-group-item list-group-item-action bg-light"> Promedio de Victimas de Homicidio por país </a>
            <a href="/showHom/<%='PromMaxMinXRegion'%>" class="list-group-item list-group-item-action bg-light"> Promedio, máximo y mínimo de Homicidios por Región por año</a>
            <a href="/showHom/<%='PromMaxMinXSubregion'%>" class="list-group-item list-group-item-action bg-light"> Promedio, máximo y mínimo de Homicidios por Subregión por año </a>
            <a href="/showHom/<%='PromVicXPaisXSexo'%>" class="list-group-item list-group-item-action bg-light"> Promedio de Victimas de Homicidio por país por sexo </a>
            <a href="/showHom/<%='PromMaxMinXRegionXSexo'%>" class="list-group-item list-group-item-action bg-light"> Promedio, máximo y mínimo de Homicidios por Región y sexo por año</a>
            <a href="/showHom/<%='PromMaxMinXSubregionXSexo'%>" class="list-group-item list-group-item-action bg-light"> Promedio, máximo y mínimo de Homicidios por Subregión y sexo por año </a>
            <a href="/showHom/<%='PromMaxMinXRegionXSexoDec'%>" class="list-group-item list-group-item-action bg-light"> Promedio, máximo y mínimo de Homicidios por Región y sexo por década </a>
            <a href="/showHom/<%='PromMaxMinXSubregionXSexoDec'%>" class="list-group-item list-group-item-action bg-light"> Promedio, máximo y mínimo de Homicidios por Subregión y sexo por década</a>
            <a href="/showHom/<%='HomicidesTrend'%>" class="list-group-item list-group-item-action bg-light"> Total de homicidios por país</a>
            <a href="/showHom/<%='PromVicsXSexo'%>" class="list-group-item list-group-item-action bg-light"> Total de homicidios por sexo</a>
        ` ;
      } else if (option === '2') {
        sidebar.innerHTML = 
          `<a href="/showWho<%='/CanCarRespXPaisAnno'%>" class="list-group-item list-group-item-action bg-light"> Porcentaje de muertes por de personas entre 30 y 70 por cancer, enfermedades cardiovasculare y respiratorias respecto al total </a>
          <a href="/showWho<%='/PopulationByDecade'%>" class="list-group-item list-group-item-action bg-light"> Cantidad de población por década </a> 
          <a href="/showWho<%='/FertilityPercentageQuin'%>" class="list-group-item list-group-item-action bg-light"> Porcentaje de fertilidad en adolescentes por cada 1000, por el quintil económico, país y década. </a> 
          <a href="/showWho<%='/FertilityPercentage'%>" class="list-group-item list-group-item-action bg-light"> El porcentaje de fertilidad por década por país </a> `;
          
      }
    });
  });
  
});
</script>