<div class="sidebar">
        <nav class="list-group">
            <a href="/showHom/<%='PromedioVictimas'%>" class="list-group-item list-group-item-action bg-light"> Promedio de Victimas de Homicidio por país </a>
            <a href="/showHom/<%='PromMaxMinXRegion'%>" class="list-group-item list-group-item-action bg-light"> Promedio, máximo y mínimo de Homicidios por Región por año</a>
            <a href="/showHom/<%='PromMaxMinXSubregion'%>" class="list-group-item list-group-item-action bg-light"> Promedio, máximo y mínimo de Homicidios por Subregión por año </a>
            <a href="/showHom/<%='PromVicXPaisXSexo'%>" class="list-group-item list-group-item-action bg-light"> Promedio de Victimas de Homicidio por país por sexo </a>
            <a href="/showHom/<%='PromMaxMinXRegionXSexo'%>" class="list-group-item list-group-item-action bg-light"> Promedio, máximo y mínimo de Homicidios por Región y sexo por año</a>
            <a href="/showHom/<%='PromMaxMinXSubregionXSexo'%>" class="list-group-item list-group-item-action bg-light"> Promedio, máximo y mínimo de Homicidios por Subregión y sexo por año </a>
            <a href="/showHom/<%='PromMaxMinXRegionXSexoDec'%>" class="list-group-item list-group-item-action bg-light"> Promedio, máximo y mínimo de Homicidios por Región y sexo por década </a>
            <a href="/showHom/<%='PromMaxMinXSubregionXSexoDec'%>" class="list-group-item list-group-item-action bg-light"> Promedio, máximo y mínimo de Homicidios por Subregión y sexo por década</a>
            <a href="/showHom/<%='HomicidesTrend'%>" class="list-group-item list-group-item-action bg-light"> Total de homicidios por país</a>
            <a href="/showHom/<%='PromVicsXSexo'%>" class="list-group-item list-group-item-action bg-light"> Total de homicidios por sexo</a>
        </nav>
</div>


